<div class="row">
    <div class="col">
            <div style="color: red; padding-top: 10%;">
                <p class="text-center">{{ message }}</p>
            </div>
            <div>
                <img [src]="urlInput" width="500" *ngIf="urlInput">
            </div>
            <br>
            <div>
                <p class="text-center">
                    <input type="file" accept="image/png, image/gif, image/jpeg" (change)="handleUpload($event)">
                </p>
            </div>
    </div>

    <div class="col">
        <div style="padding-top: 10%;">
            <p></p>
        </div>

        <div class="d-flex justify-content-center" style="padding-top: 40%;" *ngIf="spinner">
            <div class="spinner-border" role="status"></div>
        </div>

        <div>
            <img [src]="'data:image/jpg;base64,'+urlOutput" width="500" *ngIf="urlOutput">
        </div>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table" *ngIf="modelOutput.data">
            <thead>
                <tr>
                <th>Object</th>
                <th>Confidence</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let obj of modelOutput.data">
                <td>{{ obj.object }}</td>
                <td>{{ 100 * obj.confidence | number:'1.2-2'}}%</td>
                </tr>
            </tbody>
        </table>
    </div>
    <br>

    <div *ngIf="modelOutput.data">
        <h5><b>Inference time: </b>{{ modelOutput.time | number:'1.2-2'}}[s]</h5>
    </div>
</div>
